body {
    background-color: rgb(188, 188, 188);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width:16px;
    height:20px;
    margin:5px;
    justify-content: center;
}

.controls {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.controls select {
    margin: 0 5px;
}

.chord-notes {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    flex-direction: column;
    margin-bottom: 10px;
}

.notes-in-chord {
    color: rgb(91, 89, 89);
}

.intervals-in-chord {
    color:rgb(91, 89, 89);
}

.chord-notes p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: fit-content;
}

.buttons button {
    /*comment this out as it would cause some buttons to be larger which signals it is more important chord
    and could confuse the user
    flex-grow: 1;*/

    min-width: 200px;
    height: 50px;
    font-size: 1em;
    background-color: rgb(0, 128, 66);
    border: none;
    color: #fff;
    margin:10px;
    inline-size: 100px;
    overflow-wrap: break-word;
    border-radius: 5px;
}